@page "/"

<h1>Hello, world!</h1>

<div class="card">
    <ARK.Apps.Mobile.Components.Components.Foundations.LoadingSpinners.LoadingSpinnerComponent />
    <ARK.Apps.Mobile.Components.Components.Foundations.LoadingDots.LoadingDotsComponent />
</div>

<style>
    .card {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 24px;
    }
</style>