@page "/"
@using ARK.Apps.Mobile.Components.Bases

<style>

    @@keyframes pulse {
        0%{
            opacity: 0.999231;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0.999231;
        }
    }

    .rotated-box{
        margin-top: 300px;
        width: 64px;
        height: 64px;
        background-color: #f8bbd9;
        transform: rotate(45deg);
        animation: pulse 1s infinite;
    }

    .spinner{
        align-self: center;
        justify-content: center;
    }

    .e-spinner-pane .e-spinner-inner .e-spin-bootstrap5 {
        stroke: #a855f7;
        animation-duration: 1s !important;
    }

</style>

<div class="rotated-box">

    <SpinnerBase CssClass="spinner" 
                 IsVisible=true
                 Size="32"/>

</div>